* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --darkBlack: #000000;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  text-align: center;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}

/* Navbar */
.navbar1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header1 {
  display: flex;
  justify-content: space-between;
  padding: 20;
}
.nav-btn1 {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-btn1:hover {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon1 {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links1 {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links1 a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links1 a:hover {
  color: var(--primaryColor);
}
.show-nav1 {
  height: 300px;
}

/* Home page Banner component */
.hero {
  min-height: calc(100vh - 66px);
  background: url("./images/bus1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  min-height: calc(100vh - 66px);
  background: url("./images/bus2.jpg") center/cover no-repeat;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
  border: 3px solid var(--primaryColor);
}

/* Features Component */

.features1 {
  display: flex;
  max-width: 100%;
  height: auto;
  background: rgb(204, 235, 233);
  color: white;
  padding: 30px;
  justify-content: center;
}
.card {
  margin: 25px;
  width: 80%;
  height: 300px;
  padding: 30px;
  border-radius: 50%;
  background: black;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.card1 {
  max-width: 100%;
}
.nav-icon2 {
  font-size: 2em;
  color: white;
}

@media screen and (min-width: 568px) and (max-width: 767px){
  .card {
    margin: 15px;
    width: 45%;
    height: 300px;
    padding: 25px;
    background: black;
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .nav-btn1 {
    display: none;
  }
  .nav-center1 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .nav-links1 {
    height: auto;
    display: flex;
    margin-left: 10rem;
  }
  .nav-links1 a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .card {
    margin: 20px;
    width: 250px;
    height: 300px;
    padding: 25px;
    background: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* @media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 776px) {
  
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 776px) {
  
}

@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 776px) {
  
}
@media screen and (min-width: 992px) {
  
} */
